@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 500px;
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 500px;
  }
}

.move {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
  background-color: red;
  border: 2px solid black;
  animation:
    moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}
